.counter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 300px;
}

button {
  background-color: lightgreen;
  border: 2px solid green;
  margin-right: 5px;
  padding: 3px 8px;
  cursor: pointer;
}

span {
  font-weight: 500;
}